html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    font-size: 20px;
}
#board {
    width: 100%;
    height: 100%;
    background-color: black;
    /*cursor: url(edit1.png) , default!important;*/
}
/* context menu */
.menu {
    width: 120px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    background-color: white;
}
.menu .items {
    list-style: none;
    padding: 10px 0;
}
.menu .items .item {
    font-weight: 500;
    font-size: 18px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}
.menu .items .item:hover {
    background: rgba(0, 0, 0, 0.2);
}
.modal {
    display: none;
    position: fixed;
    padding: 12px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal-content {
    position: relative;
    background-color: white;
    padding: 12px;
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);

}
.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 15px;
    border-bottom: 2px solid black;
}
.modal-body {
    border-bottom: 2px solid black;
}
.modal-footer {
    padding: 15px;
}
.responsive {
    overflow-x:auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    padding: 15px;
    border-bottom: 1px solid black;
}
th {
    background-color: black;
    color: white;
}
tr:hover {
    background-color: black;
    color: white;
}