html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    font-size: 20px;
}
#board {
    width: 100%;
    height: 100%;
    background-color: black;
    cursor: url(edit1.png) , default!important;

}